In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('Payment.xlsx')

In [4]:
df

,Claim status,(All),Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,Row Labels,Count of Paid Amount - Dec,Sum of Paid Amount - Dec2,Sum of Adjustment Amount
2,Medicaid / Cal-Optima,853,68772.05,155823.53
3,Other Commercial,24,2194.84,3628.62
4,Kaiser,8,689.22,1410.78
5,United Healthcare,13,471.63,2890.72
6,Aetna,3,234.57,665.43
7,BCBS,5,220.69,679.31
8,Cigna,1,123.46,176.54
9,Medicaid / Medi-Cal,3,98.46,801.54
10,Humana,NaN,NaN,NaN
11,uninsured,NaN,NaN,NaN
12,Tricare,3,0,600
13,Medicare Advantage,NaN,NaN,NaN
14,Medicaid / LA Care,NaN,NaN,NaN
15,No Insurance,NaN,NaN,NaN
16,Medicare,2,0,600
17,CARES Act,1,0,300
18,Grand Total,916,72804.92,167576.47